.bicycle{
 width: 200px;
    height: 200px;
	padding:50px;
	margin:50px;
	 position: relative;
	 -webkit-animation: mymove 5s;
	  -webkit-animation-iteration-count:infinite;
	  -webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
	}
	@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}
/*#cycle {-webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);}*/